alembic
connexion[swagger-ui]
dependency-injector
dramatiq[rabbitmq]
gunicorn
ipython
pdf2image
psycopg2-binary
pydantic
pylint
PyPDF2
pytest
pytest-cov
pytest-factoryboy
pytest-mock
requests-toolbelt
sqlalchemy
structlog
